@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  background-color: rgb(0, 136, 255);
}

.stopwatch-container {
  align-items: center;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

#title {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.controls-container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0.5em;
}

.timer-container {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.2);
  display: flex;
  font-family: 'Roboto Mono', monospace;
  height: 12em;
  justify-content: center;
  width: 12em;
}

#timer {
  color: rgb(255, 255, 255);
  font-size: 1.5em;
  font-weight: 700;
  padding: 0.5em;
}

button {
  border: none;
  border-radius: 1em;
  box-shadow: 0px 0px 10px -5px rgba(255, 255, 255, 0.9);
  cursor: pointer;
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  height: 3em;
  margin: 0.5em;
  padding: 0.5em;
  width: 5em;
}


#start {
  background-color: rgb(0, 165, 47);
  color: rgb(255, 255, 255);
}

#stop {
  background-color: rgb(159, 17, 7);
  color: rgb(255, 255, 255);
}

#reset, #restart, #lap {
  background-color: rgb(11, 64, 238);
  color: rgb(255, 255, 255);
}

button:hover {
  filter: brightness(1.1);
}

.laps-container {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  font-family: arial, helvetica, sans-serif;
  height: 12em;
  margin-top: 1em;
  width: 12em;
}

.laps-container p {
  margin: 0;
  font-size: 0.8em;
}

#laps-list {
  margin: 0;
  counter-reset: item;
  font-size: 0.8em;
  font-weight: 500;
  padding: 0.5em;
}

#laps-list li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.297);
  list-style: none;
  padding: 0.5em;
}

#laps-list li::before {
  align-items: start;
  content: "#" counter(item) " ";
  counter-increment: item;
  font-weight: bold;
  padding-right: 2em;
}